h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    color: GhostWhite;
    text-align: center;
    text-shadow: 0px 0px 10px black;
}
body {
  font-family: 'Lato', sans-serif;
  width: 80%;
  padding-top:30px;
  padding-bottom:30px;
  font-size: 22px;
  margin: auto;
}

img {
  width:  400px;
  height: 400px;
  position: relative;
  left: -50%;
}

.grid-container {
    grid-column-gap: 100px;
    text-align: center;
}

.grid-item {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    display: inline-block;
    width: 20%;
    background-color: GhostWhite;
    box-shadow:0px 0px 0px 2px black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
