h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    color: Black;
    text-align: center;
}
body {
  font-family: 'Lato', sans-serif;
  width: 80%;
  padding-top:30px;
  padding-bottom:30px;
  font-size: 22px;
  margin: auto;
}

p {
    font-family: 'Lato', sans-serif;
    color: Black;
}

img {
  width:  200%;
  height: 400px;
  position: relative;
  left: -50%;
}
.image-page{
  background: black;
}

.image-page img {
  width: 200%;
  height: 200%;
  position:relative;
  top: -60%;
  text-align: center;
  z-index: -1;
}
.image-page p, .image-page h1 {
  color: white;
  text-shadow: 0px 0px 5px black;
}
.image-page h1 {
  position: relative;
  top: 150px;
  font-size:70px;
}

.grid-container img {
    grid-column-gap: 100px;
    text-align: center;
}

.grid-item {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    display: inline-block;
    width: 20%;
    background-color: GhostWhite;
    box-shadow:0px 0px 0px 2px black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
