<html>
  <head>
  <title>CryptoCreatures</title>
    <link rel="stylesheet" type="text/css" href="/static/master.css">
  </head>

  <body background = "/static/congruent_pentagon.png">
    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/templates/about-us.html">About</a></li>
    </ul>
    <h1>CryptoCreatures</h1>
    <h2>How to Play</h2>
    <p>
        Visit our "mining" page to start your CryptoCreatures
         adventure! Download and run the mining function, and use your
         computer to discover one of three things: a Crypto Creature, an
         Item, or a Creature Coin. Crypto Creatures are unique, lovable
         critters you can buy, sell, trade, and collect! Different animals,
         colors, and eye types indicate what level of rarity your
         creature is. Items can be wielded by your Crypto Creatures and
          range from weapons to food to clothes and accessories. And coins
          can be used to trade between the two!
    </p>
    <h2>About Us</h2>
    <p>
        At CryptoCreatures, we are an ambitious and lively team of
        undergraduates who seek to educate the youth about
        cryptocurrency though cute, exciting tradable creatures.
    </p>
    <h2>Meet the Team</h2>
    <h4>Charles</h4>
        <p>
            Charles is the brains and brawn of the CryptoCreatures
             operation. Since the idea phase, Charles has motivated the
             team and also fixed our errors.
         </p>
     <h4>Qi</h4>
         <p>
             What a guy! Qi is a really good coder, except for the
             fact that he is a computer science major afraid to install
             MSWord on his computer 😕 On the bright side, Qi has spent ours
             drafting our state-of-the-art legal boilerplate to protect us
             from the "wrong" animal games.
         </p>
    <h4>Celia</h4>
        <p>
            Not to be confused with Celiacs, Celia can eat gluten,
             and she can also draw some really cute animals and get
              really big on Agar.io
        </p>
    <h4>Sam</h4>
        <p>
            If you want Sam to come running, just holler, "font color
            = Tomato;" and Sam will be there before you can say "ketchup."
        </p>
    <h4>Jake</h4>
        <p>
            Jake's a first year and he's here chillin'. He offered up his ipad?? Moral support? lol
        </p>
  </body>
</html>
