<html>
  <head>
  <title>Token</title>
    <link rel="stylesheet" type="text/css" href="/static/master.css">
  </head>

  <body background = "/static/sakura.png">
    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="/templates/about-us.html">About</a></li>
    </ul>
    <h1>CryptoCreatures</h1>
    <p>
        At CryptoCreatures, we are an ambitious and lively team of
        undergraduates who seek to educate the youth about 
        cryptocurrency though cute, exciting tradable creatures.
    </p>
  </body>
</html>
