<html>
  <head>
  <title>CryptoCreatures</title>
    <link rel="stylesheet" type="text/css" href="/static/master.css">
  </head>

  <body background = "/static/congruent_pentagon.png">
    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/templates/about-us.html">About</a></li>
    </ul>
    <h1>CryptoCreatures</h1>
    <h2>How to Play</h2>
    <p>
        Visit our "mining" page to start your CryptoCreatures
         adventure! Download and run the mining function, and use your
         computer to discover one of three things: a Crypto Creature, an
         Item, or a Creature Coin. Crypto Creatures are unique, lovable
         critters you can buy, sell, trade, and collect! Different animals,
         colors, and eye types indicate what level of rarity your
         creature is. Items can be wielded by your Crypto Creatures and
          range from weapons to food to clothes and accessories. And coins
          can be used to trade between the two!
    </p>
    <h2>About Us</h2>
    <p>
        At CryptoCreatures, we are an ambitious and lively team of
        undergraduates who seek to educate the youth about
        cryptocurrency though cute, exciting tradable creatures.
    </p>
    <h2>Meet the Team</h2>
    <p>
        
    </p>
  </body>
</html>
