<html>
  <head>
  <title>Token</title>
    <link rel="stylesheet" type="text/css" href="/static/master.css">
  </head>
  <script>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </script>
  <body background = "/static/congruent_pentagon.png">
    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="/templates/about-us.html">About</a></li>
    </ul>
    <h1>CryptoCreatures</h1>
    <h2>Where Cryptocurrency Meets Animal Trading Cards</h2>
    <div class="grid-container">
        <h3>Your Creatures</h3>
      {% for animal in animals %}
      <a href="/token/{{ animal.sha }}">
          <div class="grid-item">
            <img src= "{{ url_for( 'static', filename=animal.image) }}" />
          </div>
        </a>
      {% endfor %}
    </div>
  </body>
</html>
