<html>
  <head>
  <title>Token</title>
    <link rel="stylesheet" type="text/css" href="/static/master.css">
  </head>
  <script>

  </script>
  <body>
    <h1>CryptoCreatures</h1>
    <h2>Where Cryptocurrency Meets Animal Trading Cards</h2>
    <div class="grid-container">
      {% for animal in animals %}
      <a href="/token/{{ animal.sha }}">
          <div class="grid-item">
            <p>{{ animal }}</p>
            <img src= "{{ url_for( 'static', filename=animal.image) }}" />
          </div>
        </a>
      {% endfor %}
    </div>
  </body>
</html>
