<html>
  <head>
  <title>Token</title>
    <link rel="stylesheet" type="text/css" href="/static/master.css">
  </head>
  <script>

  </script>
  <body>
    <h1>CryptoCreatures</h1>
    <h2>Where Cryptocurrency Meets Animal Trading Cards</h2>
    <div class="grid-container">
        <a href="/token/0000CF7CD9BCA62F250DD0124DDD06EDADD457031345FE7A872FD1B290F8A1F5">
          <div class="grid-item">
              <img src="/static/Deer.svg" />
          </div>
        </a>
        <a href="/token/0000CF7CD9BCA62F250DD0124DDD06EDADD457031345FE7A872FD1B290F8A1F5">
          <div class="grid-item">
              <img src="/static/Deer.svg" />
          </div>
        </a>
        <a href="/token/0000CF7CD9BCA62F250DD0124DDD06EDADD457031345FE7A872FD1B290F8A1F5">
          <div class="grid-item">
              <img src="/static/Deer.svg" />
          </div>
        </a>
        <a href="/token/0000CF7CD9BCA62F250DD0124DDD06EDADD457031345FE7A872FD1B290F8A1F5">
          <div class="grid-item">
              <img src="/static/Deer.svg" />
          </div>
        </a>
        <a href="/token/0000CF7CD9BCA62F250DD0124DDD06EDADD457031345FE7A872FD1B290F8A1F5">
          <div class="grid-item">
              <img src="/static/Deer.svg" />
          </div>
        </a>
        <a href="/token/0000CF7CD9BCA62F250DD0124DDD06EDADD457031345FE7A872FD1B290F8A1F5">
          <div class="grid-item">
              <img src="/static/Deer.svg" />
          </div>
        </a>
        <a href="/token/0000CF7CD9BCA62F250DD0124DDD06EDADD457031345FE7A872FD1B290F8A1F5">
          <div class="grid-item">
              <img src="/static/Deer.svg" />
          </div>
        </a>
        <a href="/token/0000CF7CD9BCA62F250DD0124DDD06EDADD457031345FE7A872FD1B290F8A1F5">
          <div class="grid-item">
              <img src="/static/Deer.svg" />
          </div>
        </a>
    </div>
  </body>
</html>
