<html>
  <head>
  <title>Token</title>
    <link rel="stylesheet" type="text/css" href="/static/master.css">
  </head>
  <body>
    <h1>Token Show Page</h1>
    <p>
    {% if coin[0] == 1 %}
      Animal type: {{ coin[1].animal_type }}
      {% if coin[1].animal_type == "bunny" %}
        <img src="/static/Bunny.svg" />
      {% elif coin[1].animal_type == "bear" %}
        <img src="/static/Bear.svg" />
      {% elif coin[1].animal_type == "dalmatian" %}
        <img src="/static/Dalmation.svg" />
      {% elif coin[1].animal_type == "deer" %}
        <img src="/static/Deer.svg" />
      {% elif coin[1].animal_type == "fox" %}
        <img src="/static/Fox.svg" />
      {% elif coin[1].animal_type == "hedgehog" %}
        <img src="/static/Hedgehog.svg" />
      {% elif coin[1].animal_type == "panda" %}
        <img src="/static/Panda.svg" />
      {% endif %}
    {% else %}
      Coin!
    {% endif %}
    </p>
    <img src="/static/Bunny.svg" />
  </body>
</html>
